$curly-font: "Cookie", cursive;
$title-font: "Raleway - Semi Bold", sans-serif;
$main-font: "Raleway", sans-serif;
$main-blue: #2a3b40;
$footer-font: "Roboto", sans-serif;

$media-size-middle: 1330px;
