.footer {
  display: flex;
  padding: 70px 180px 80px;
  background-color: rgb(212, 216, 217);

  & > .half {
    width: 50%;
    display: flex;

    &_30 {
      & > .footer__basic {
        width: 33.3333%;
      }
    }

    @media (max-width: 1080px) {
      width: 40%;
    }

    @media (max-width: 800px) {
      width: 100%;
      margin-bottom: 50px;
    }
  }

  & > .half_30 {
    @media (max-width: 1080px) {
      width: 60%;
    }

    @media (max-width: 800px) {
      width: 100%;
      margin-bottom: 0;
    }
  }

  &__basic {
    display: flex;
    flex-direction: column;

    @media (max-width: 800px) {
      align-items: center;
    }
  }

  &__p {
    color: #2d2f2a;
    font-family: $main-font;
    font-size: 19px;
    font-weight: 400;
    line-height: 29.17px;
    width: 60%;
  }

  &__title {
    color: #2d2f2a;
    font-family: $main-font;
    font-size: 25px;
    font-weight: 700;
    line-height: 33.33px;
    text-transform: uppercase;
    margin-bottom: 50px;

    @media (max-width: 800px) {
      margin-bottom: 30px;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
  }

  &__link {
    color: #2d2f2a;
    font-family: $main-font;
    font-size: 21px;
    font-weight: 700;
    line-height: 33.33px;
    text-decoration: none;

    &_thin {
      font-family: $footer-font;
      font-weight: 400;
    }
  }

  @media (max-width: 1200px) {
    padding: {
      left: 70px;
      right: 70px;
    }
  }

  @media (max-width: 1080px) {
    padding: {
      left: 80px;
      right: 30px;
    }
  }

  @media (max-width: 800px) {
    flex-direction: column;
    padding: {
      left: 10px;
      right: 10px;
    }
  }
}
